.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


button {
    margin-top: 1rem;
    height: 2.5rem;
    width: 10rem;
    border: 0px;
    border-radius: 5rem;
    background-color: #4ECCA3;
    color: #393E46;
    font: normal 1.5rem 'Lobster', cursive;
}

button:active{
  border: 0.2rem #4ECCA3 solid;
  background-color: #393E46;
  color: #4ECCA3;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
